body {
  font-family: 'Special Elite', cursive;
  margin: 0;
  text-align: center;
}

p {
  font-family: 'Space Mono', monospace;
  font-weight: 600;
}

em {
  font-family: 'Amatic SC', cursive;
  font-size: 1.2rem;
}


/* Navbar */

.navbar {
  background-image: linear-gradient(to right, #790252,  #242f9b, #4c0070);
}

.nav-link {
  color: black;
  font-size: 1.2rem;
  font-weight: 500;
}

.nav-link:hover {
  color: gray;
}

.navbar-togglers {
  color: gray!important;
}

@media(max-width:66rem){
  .nav-link{
    text-align: center;
  }
}

/* Top Container */


.header-bar-bottom {
  background: black;
  height: 4px;
  margin-top: 3%;
}

.header-bar-top {
  background: black;
  height: 4px;
  margin-bottom: 5%;
}

.hs-java-icon {
  color: #242f9b;
  position: relative;
  right: 10%;
}

.hs-javascript-icon {
  color: #790252;
  position: relative;
  padding-top: 2.5%;
  right: 30%;
}

.hs-python-icon {
  left: 31%;
  position: relative;
}

.hs-react-icon {
  color: #4c0070;
  left: 10%;
  position: relative;
}

#top-container {
  background-color: white;
  height: 90vh;
  position: relative;
  text-align: center;
  width: 100%;
}

.top-container-bottom-frame {
  background-image: linear-gradient(to right, #790252,  #242f9b, #4c0070);
  height: .8rem;
  width: 100%;
}

.top-container-hs {
  left: 47.5%;
  position: absolute;
  transform: translate(-50%, -45%);
  top: 45%;
  width: 55%;
}

.top-container-h1 {
  align-items: center;
  color: black;
  font-family: 'Special Elite', cursive;
  font-size: 6.5rem;

}

.top-container-h2 {
  color: black;
  font-size: 4rem;
}

@media screen and (max-width: 1600px) {

  .top-container-hs {
    width: 60%;
  }
  
}

@media screen and (max-width: 1400px) {

  .top-container-hs {
    width: 65%;
  }
  
}


@media screen and (max-width: 1247px) {

  .hs-java-icon {
    font-size: 3.5em;
  }

  .hs-javascript-icon {
    font-size: 3.5em;
  }

  .hs-python-icon {
    font-size: 3.5em;
  }

  .hs-react-icon {
    font-size: 3.5em;
  }

  .top-container-hs {
    width: 75%;
  }
  
  .top-container-h1 {
    font-size: 6rem;
  }

  .top-container-h2 {
    font-size: 3.5rem;
  }
  
}

@media screen and (max-width: 1001px) {

  .top-container-hs {
    width: 85%;
  }

  .top-container-h1 {
    font-size: 5rem;
  }

  .top-container-h2 {
    font-size: 2.5rem;
  }
  
}

@media screen and (max-width: 812px) {

  .hs-java-icon {
    font-size: 3em;
  }

  .hs-javascript-icon {
    font-size: 3em;
  }

  .hs-python-icon {
    font-size: 3em;
  }

  .hs-react-icon {
    font-size: 3em;
  }

  .top-container-hs {
    width: 75%;
  }

  .top-container-h1 {
    font-size: 4rem;
  }

  .top-container-h2 {
    font-size: 2.5rem;
  }
  
}

@media screen and (max-width: 800px) {

  .hs-java-icon {
    font-size: 2em;
  }

  .hs-javascript-icon {
    font-size: 2em;
  }

  .hs-python-icon {
    font-size: 2em;
  }

  .hs-react-icon {
    font-size: 2em;
  }


  
}

@media screen and (max-width: 719px) {

  .top-container-hs {
    width: 85%;
  }

  .top-container-h1 {
    font-size: 3.5rem;
  }

  .top-container-h2 {
    font-size: 2rem;
  }
}

/* Second Container */

.logo {
  border-color: gray;
  height: 5rem;
  padding-bottom: 5%;
  width: 17rem;
}

.portfolio-desc {
  font-size: 100%;
  line-height: 1.5;
}

.portfolio-desc-img {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 95%;
  width: 20%;
}

.portfolio-header {
  padding-bottom: 3%;
  padding-top: 6%;
}

.portfolio-lg-img {
  height: 80vh;
  margin-right: 1%;
  width: 65%;
}

.portfolio-link {
  color: black;
  font-size: 1.7rem;
}

.portfolio-sm-img {
  height: 80vh;
  width: 32%;
}

.portfolio {
  color: black;
  display: flex;
  padding-bottom: 5%;
}

@media screen and (max-width: 1500px) {

  .logo {
    height: auto;
    padding-bottom: 3%;
    width: 15rem;
  }

  .portfolio-desc {
    font-size: .9em;
  }


  .portfolio-lg-img {
    height: 70vh;
  }

  .portfolio-link {
    font-size: 1.5rem;
  }
  
  .portfolio-sm-img {
    height: 70vh;
  }

}

@media screen and (max-width: 1200px) {

  .logo {
    width: 12rem;
  }

  .portfolio {
    align-items: center;
    flex-direction: row;
    padding-bottom: 1%;
  }

  .portfolio-desc {
    font-size: .8em;
  }

  .portfolio-lg-img {
    height: 80vh;
    margin: 0% 1%;
    object-fit: contain;
    width: 95%;
  }

  .portfolio-link {
    font-size: 1.1rem;
  }
  
  .portfolio-sm-img {
    display: none;
  }

}

@media screen and (max-width: 1000px) {

  .logo {
    padding-bottom: 0%;
    width: 15rem;
  }

  .portfolio-desc {
    font-size: 1em;
    padding-top: 0%;
  }

  .portfolio-desc-img {
    margin-left: 5%;
    width: 45%;
  }

  .portfolio-lg-img {
    display: none;
  }

  .portfolio-link {
    font-size: 1.5rem;
  }
  
  .portfolio-sm-img {
    display: block;
    height: 80vh;
    margin: 1% 5%;
    object-fit: contain;
    width: 90%;
  }
}


  @media screen and (max-width: 719px) {

    .portfolio {
      flex-direction: column;
    }

    .portfolio-desc-img {
      margin: 0% 5%;
      width: 90%;
    }

    .portfolio-sm-img {
      padding-bottom: 5%;
    }

}

@media screen and (max-width: 350px) {

  .portfolio-sm-img {
    height: 60vh;
  }

}





/* ----- SKILLSET ------ */

.me-pic-skill {
  height: 20rem;
  width: 20rem;
}

.skill-box {
  display: flex;
  padding-bottom: 5%;
}

.skill-header {
  padding-bottom: 3%;
  padding-top: 6%;
}

.skill-list {
  display: flex;
  margin-left: 10%;
  margin-top: 6%;
}

.skill-pic-desc {
  margin-left: 10%;
  width: 40%;
}

@media screen and (max-width: 1068px) {

  .skill-pic-desc {
    display: flex;
    margin-left: 0%;
    width: 100%;
  }

  .skill-box {
    display: flex;
    flex-direction: column;
    padding: 0 5% 5% 5%;
  }

  .skill-list {
    display: flex;
    margin: 5% 25% 0%;
    width: 50%;
  }


}


@media screen and (max-width: 720px) {


  .me-pic-skill {
    margin: 0% 5%;
    object-fit: contain;
    width: 90%;
  }

  .skill-pic-desc {
    flex-direction: column;
  }

  .skill-box {
    display: flex;
    flex-direction: column;
    padding: 0 5% 5% 5%;
  }

}

@media screen and (max-width: 600px) {


  .me-pic-skill {
    margin: 0% 5%;
    object-fit: contain;
    width: 90%;
  }

  .skill-pic-desc {
    margin-left: 0%;
    width: 100%;
  }

  .skill-box {
    padding: 0%;
  }

  .skill-list {
    margin: 0% 5%;
    width: 90%;
  }

}



/* ----- LETTERS OF RECOMMENDATION ----- */

.lor {
  padding-left: 15%;
  padding-right: 15%;
}

.lor-box {
  display: flex;
  padding: 5%;
}

.lor-credits-right {
  margin: 3% 0%;
  padding-left: 10%;
  width: 30%;
}

.lor-credits-left {
  padding-right: 10%;
  width: 30%;
}

.p1-lor {
  font-size: 1.1rem;
  line-height: 2;
  width: 70%;
}

.lor-main-header {
  color: black;
  padding-bottom: 3%;
  padding-top: 6%;
}


.left-lor {
  flex-direction: row-reverse;
}


@media screen and (max-width: 800px) {


  .lor {
    flex-direction: column;
    padding: 0%;
  }
  .lor-box {
    flex-direction: column;
    padding: 0% 0% 3% 0%;
  }

  .lor-credits-left {
    margin: 0% 5%;
    padding: 0%;
    width: 90%;
  }

  .lor-credits-right {
    margin: 0% 5%;
    padding: 0%;
    width: 90%;
  }

  .p1-lor {
    margin: 0% 5%;
    width: 90%;
  }

}


/* Bottom Container */

.about-me {
  display: flex;
  padding-left: 2%;
  padding-top: 2%;
  width: 45%;
}

#bottom-container {
  background-image: linear-gradient(to right, #790252,  #242f9b, #4c0070);
  width: 100%;
}


.contact-me {
  height: 7rem;
  padding-top: 1.5rem;
}


.copy-tag {
  color: white;
  font-size: .75rem;
}

.footer-info {
  display: flex;
}

.footer-link {
  color: #EEEEEE;
  padding-top: 10%;
}

.footer-links {
  display: flex;
  margin-left: 40%;
  width: 20%;
}

.footer-links-left {
  display: flex;
  flex-direction: column;
}

.footer-links-right {
  display: flex;
  flex-direction: column;
  padding-left: 10%;
}

#me-desc {
  color: white;
  font-size: .9rem;
  font-weight: 400;
}

.me-pic {
  height: 7rem;
  width: 7rem;
}

@media screen and (max-width: 800px) {

  .about-me {
    width: 100%;
  }

  .footer-links {
    display: flex;
    margin-left: 30%;
    width: 100%;
  }
  
  .footer-info {
    flex-direction: column;
  }

}
