body {
  font-family: 'Special Elite', cursive;
  margin: 0;
  text-align: center;
}



/* Navbar */

.navbar {
  background-image: linear-gradient(to right, #790252,  #242f9b, #4c0070);
  /* background: rgba(0, 0, 0, 0.098); */
}

.nav-link {
  color: black;
  font-size: 1.2rem;
  font-weight: 500;
}

.nav-link:hover {
  color: gray;
}

.navbar-togglers {
  color: gray!important;
}

@media(max-width:66rem){
  .nav-link{
    text-align: center;
  }
}

/* Top Container */


.header-bar-bottom {
  background: black;
  height: 4px;
  margin-top: 3%;
}

.header-bar-top {
  background: black;
  height: 4px;
  margin-bottom: 5%;
}

.hs-java-icon {
  color: #242f9b;
  position: relative;
  right: 10%;
}

.hs-javascript-icon {
  color: #790252;
  position: relative;
  padding-top: 2.5%;
  right: 30%;
}

.hs-python-icon {
  left: 31%;
  position: relative;
}

.hs-react-icon {
  color: #4c0070;
  left: 10%;
  position: relative;
}

.top-container {
  background-color: white;
  height: 90vh;
  position: relative;
  text-align: center;
  width: 100%;
}

.top-container-bottom-frame {
  background-image: linear-gradient(to right, #790252,  #242f9b, #4c0070);
  height: .8rem;
  width: 100%;
}

.top-container-hs {
  left: 50%;
  position: absolute;
  transform: translate(-50%, -45%);
  top: 45%;
}

.top-container-h1 {
  align-items: center;
  color: black;
  font-family: 'Special Elite', cursive;
  font-size: 6.5rem;

}

.top-container-h2 {
  color: black;
  font-size: 3.5rem;
}


/* Second Container */

.logo {
  border: 20rem;
  border-color: gray;
  height: 5rem;
  margin: 2rem;
  width: 70%;
}

.portfolio-desc {
  font-size: 1.3rem;
}

.portfolio-desc-img {
  align-items: center;
  height: 42.5rem;
  width: 25rem;
}

.portfolio-header {
  color: black;
  padding-bottom: 3%;
  padding-top: 6%;
}

.portfolio-lg-img {
  height: 80vh;
  margin-right: 3%;
  width: 60%;
}

.portfolio-sm-img {
  height: 80vh;
  width: 30%;
}

/* .portfolio-lg-img {
  height: 42.5rem;
  width: 50rem;
}

.portfolio-sm-img {
  height: 42.5rem;
  width: 27rem;
} */

.portfolio {
  color: black;
  display: flex;
  padding-bottom: 5%;
}

/* .hexagon::before{
  background: radial-gradient(rgba(0,0,0,0.26), transparent, transparent);
  border-radius: 50%;
  bottom: -70px;
  content: '';
  height: 60px;
  left: 1%;
  position: absolute;
  width: 100%;
  transition: 0.5s;
}

.hexagon:hover::before{
  opacity: 0.8;
  transform: scale(0.8);
}

.hexagon{
  position: relative;
  width: 350px;
  height: 400px;
}

.hexagon .hexagon-shape{
  background-image: url('work.jpg');
  clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: 0.5s;
  width: 100%;
}

.hexagon:hover .hexagon-shape{
  transform: translateY(-30px);
}

.hexagon .hexagon-shape .img{
  background-image: url('work.jpg');
  background-size: cover;
  bottom: 0;
  height: inherit;
  position: absolute;
  top: 0;
  width: inherit;
}

.hexagon .hexagon-shape .content{
  align-items: center;
  background: linear-gradient(45deg, #b3c6c3, rgba(99, 109, 108, 0.5));
  color: #fff;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  opacity: 0;
  padding: 20px;
  position: absolute;
  text-align: center;
  top: 0;
  transition: 0.5s;
  width: 100%;
}

.hexagon:hover .hexagon-shape .content{
  opacity: 1;
} */

/* .full-background {
  background: url('white-stone.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #E1D7C6;
  color: #543A3A;
} */


/* Third Container */

.about{
  display: inline-block;
}

.data {
  margin-bottom: 25%;
}

.me-pic {
  height: 20rem;
  width: 20rem;
}

.photo-about {
  width: 20%;
}

.third-container {
}

.third-container-h1 {
  font: bold;
}

.third-container-p {
  font-size: 1rem;
}





/* Middle Container */

.feature {
  
  text-align: center;
}

h2 {
  color: white;
  font-size: 2.5rem;
  margin: 0px;
}

h3 {
  margin: 0;
}



.middle-container {
  color: #5F6769;
  height: 100%;
  margin: 0;
  width: 100%;
}


.testimonial-image {
  border: 20rem;
  border-color: gray;
  height: 40rem;
  margin: 2rem;
  width: 65%;
}

ul {
  list-style-type: none;
  text-align: center;
}

/* Bottom Container */

.bottom-container {
  background-image: linear-gradient(to right, #790252,  #242f9b, #4c0070);
  height: 4rem;
  width: 100%;
}

.btn {
  background: #445b6b;
  background-image: -webkit-linear-gradient(top, #445b6b, #9eafba);
  background-image: -moz-linear-gradient(top, #445b6b, #9eafba);
  background-image: -ms-linear-gradient(top, #445b6b, #9eafba);
  background-image: -o-linear-gradient(top, #445b6b, #9eafba);
  background-image: linear-gradient(to bottom, #445b6b, #9eafba);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Courier New;
  color: #000000;
  font-size: 19px;
  padding: 5px 10px 5px 10px;
  position: relative;
  text-decoration: none;
  top: 1.3rem
}

.btn:hover {
  background: #c9ced1;
  background-image: -webkit-linear-gradient(top, #c9ced1, #999999);
  background-image: -moz-linear-gradient(top, #c9ced1, #999999);
  background-image: -ms-linear-gradient(top, #c9ced1, #999999);
  background-image: -o-linear-gradient(top, #c9ced1, #999999);
  background-image: linear-gradient(to bottom, #c9ced1, #999999);
  text-decoration: none;
}


.contact-me {
  height: 7rem;
  padding-top: 1.5rem;
}


.copy-tag {
  color: white;
  font-size: .75rem;
}


.footer-link {
  color: #EEEEEE;
  padding: .5rem;

}
