body {
  font-family: 'Special Elite', cursive;
  margin: 0;
  text-align: center;
}

p {
  font-family: 'Space Mono', monospace;
  font-weight: 600;
}

em {
  font-family: 'Amatic SC', cursive;
  font-size: 1.2rem;
}


/* Navbar */

.navbar {
  background-image: linear-gradient(to right, #790252,  #242f9b, #4c0070);
}

.nav-link {
  color: black;
  font-size: 1.2rem;
  font-weight: 500;
}

.nav-link:hover {
  color: gray;
}

.navbar-togglers {
  color: gray!important;
}

@media(max-width:66rem){
  .nav-link{
    text-align: center;
  }
}

/* Top Container */


.header-bar-bottom {
  background: black;
  height: 4px;
  margin-top: 3%;
}

.header-bar-top {
  background: black;
  height: 4px;
  margin-bottom: 5%;
}

.hs-java-icon {
  color: #242f9b;
  position: relative;
  right: 10%;
}

.hs-javascript-icon {
  color: #790252;
  position: relative;
  padding-top: 2.5%;
  right: 30%;
}

.hs-python-icon {
  left: 31%;
  position: relative;
}

.hs-react-icon {
  color: #4c0070;
  left: 10%;
  position: relative;
}

#top-container {
  background-color: white;
  height: 90vh;
  position: relative;
  text-align: center;
  width: 100%;
}

.top-container-bottom-frame {
  background-image: linear-gradient(to right, #790252,  #242f9b, #4c0070);
  height: .8rem;
  width: 100%;
}

.top-container-hs {
  left: 50%;
  position: absolute;
  transform: translate(-50%, -45%);
  top: 45%;
}

.top-container-h1 {
  align-items: center;
  color: black;
  font-family: 'Special Elite', cursive;
  font-size: 6.5rem;

}

.top-container-h2 {
  color: black;
  font-size: 3.5rem;
}


/* Second Container */

.logo {
  border-color: gray;
  height: 5rem;
  padding-bottom: 5%;
  width: 17rem;
}

.portfolio-desc {
  font-size: 100%;
  line-height: 2;
  padding-top: 10%;
}

.portfolio-desc-img {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 95%;
  width: 20%;
}

.portfolio-header {
  padding-bottom: 3%;
  padding-top: 6%;
}

.portfolio-lg-img {
  height: 80vh;
  margin-right: 2%;
  width: 60%;
}

.portfolio-link {
  color: black;
  font-size: 1.7rem;
}

.portfolio-sm-img {
  height: 80vh;
  width: 30%;
}

.portfolio {
  color: black;
  display: flex;
  padding-bottom: 5%;
}

/* @media screen and (max-width: 1068px) {

  .portfolio {
    align-items: center;
    flex-direction: column;
  }

  .portfolio-desc-img {
    height: 100%;
    padding-bottom: 3%;
    width: 50%;
  }

  .portfolio-imgs {
    align-items: center;
    display: flex;
    flex-direction: column-reverse;
  }

  .portfolio-lg-img {
    height: inherit;
    padding-bottom: 3%;
    width: 90%;
  }
  
  .portfolio-sm-img {
    height: inherit;
    padding-bottom: 3%;
    width: 45%;
  } */

}


/* ----- SKILLSET ------ */

.me-pic-skill {
  height: 20rem;
  width: 20rem;
}

.skill-box {
  display: flex;
  padding-bottom: 5%;
}

.skill-header {
  padding-bottom: 3%;
  padding-top: 6%;
}

.skill-list {
  display: flex;
  margin-left: 10%;
  margin-top: 6%;
}

.skill-pic-desc {
  margin-left: 10%;
  width: 40%;
}



/* ----- LETTERS OF RECOMMENDATION ----- */

.lor {
  padding-left: 15%;
  padding-right: 15%;
}

.lor-box {
  display: flex;
  padding: 5%;
}

.lor-credits-right {
  padding-left: 10%;
  width: 30%;
}

.lor-credits-left {
  padding-right: 10%;
  width: 30%;
}

.p1-lor {
  font-size: 1.1rem;
  line-height: 2;
  width: 70%;
}

.lor-main-header {
  color: black;
  padding-bottom: 3%;
  padding-top: 6%;
}


.valle-terstege-lor {
  flex-direction: row-reverse;
}





/* Bottom Container */

.about-me {
  display: flex;
  padding-left: 2%;
  padding-top: 2%;
  width: 45%;
}

#bottom-container {
  background-image: linear-gradient(to right, #790252,  #242f9b, #4c0070);
  width: 100%;
}


.contact-me {
  height: 7rem;
  padding-top: 1.5rem;
}


.copy-tag {
  color: white;
  font-size: .75rem;
}

.footer-info {
  display: flex;
}

.footer-link {
  color: #EEEEEE;
  padding-top: 10%;
}

.footer-links {
  display: flex;
  margin-left: 40%;
  width: 20%;
}

.footer-links-left {
  display: flex;
  flex-direction: column;
}

.footer-links-right {
  display: flex;
  flex-direction: column;
  padding-left: 10%;
}

#me-desc {
  color: white;
  font-size: .9rem;
  font-weight: 400;
}

.me-pic {
  height: 7rem;
  width: 7rem;
}